<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Przypomnienie hasła</title>
</head>
<body>
<main class="main-content" layout:fragment="content">

    <h1 class="list-heading">Ustaw nowe hasło</h1>

    <p class="notification" th:if="${notification}" th:text="${notification}">
        Belka z powiadomieniami
    </p>

    <form action="#" th:action="@{|/ustaw-nowe-haslo/${id}|}" method="post" class="form">
        <input type="text" hidden="hidden" name="activKey" th:value="${activKey}">
        <label>Podaj nowe hasło (min 8 znaków):</label>
        <input type="password" name="password" minlength="8" required>
        <button type="submit">Zmień hasło</button>
    </form>


</main>
</body>
</html>